* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

body {
    padding-left: 30px;
    display: block;
}

div {
    line-height: 0px;
}

.main {
    background-color: white;
}

.top {
    padding-top: 30px;
}

.zoom1 {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom2 {
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom1:hover, .zoom2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
} 