* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    padding-left: 30px;
    display: block;
}

div {
    line-height: 0px;
}

.column1, .column2 {
    float: left;
}

.main {
    background-color: white;
}

.top {
    padding-top: 30px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
} 